/* Universal Styles */

html {
  font-size: 16px;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}

h2 {
  margin-bottom: 0;
  text-align: center;
  font-family: "Arbutus Slab", serif;
  font-size: 3rem;
}

img {
  max-width: 100%;
}

/* Component - Header Line */

.header-line {
  border-top: 1px solid #d4d5d6;
  margin-bottom: 3rem;
}

.header-line .header {
  text-align: center;
  margin-bottom: 2.25rem;
}

.header-line h2 {
  position: relative;
  top: -1.5rem;
  display: inline;
  padding: 0 1.25rem;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 767px) {
  .header-line h2 {
    top: -1rem;
    font-size: 2rem;
  }
}

/* Component - Image Container */

.image-container {
  margin-bottom: 2.25rem;
  text-align: center;
}

/* Navigation */

.navbar-default {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: white;
  color: #37c2aa;
}

/* Jumbotron */

.jumbotron {
  height: 43.5rem;
  margin-top: 3.125rem;
  background-image: url("./jumbotron.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron h1 {
  max-width: 50rem;
  padding: .25rem 0;
  margin: 17rem auto 0 auto;
  background-color: #d404af;
  font-family: "Arbutus Slab", serif;
  font-size: 3.75rem;
  color: white;
}

.jumbotron p {
  max-width: 50rem;
  padding: .75rem 0;
  margin: 0 auto;
  background-color: #f5cb07;
  font-size: 1.25rem;
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  .jumbotron h1 {
    font-size: 2.75rem;
  }

  .jumbotron p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    height: 33.5rem;
    margin-top: 10.9375rem;
  }

  .jumbotron h1 {
    margin-top: 10rem;
  }
}

/* Quote */

.quote {
  width: 83%;
  padding-top: 7rem;
  padding-bottom: 9.25rem;
  font-family: "Droid Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.3;
  color: #4a4a4a;
}

.citation {
  padding-top: .75rem;
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  .quote {
    padding-top: 4rem;
    padding-bottom: 5.25rem;
  }
}

/* Team */

.team {
  padding-top: 5.5rem;
  padding-bottom: 7.25rem;
  background-color: #4a4a4a;
  color: white;
}

.team h2 {
  margin-bottom: 3.375rem;
}

.member {
  margin-bottom: 2rem;
  text-align: center;
}

.line {
  display: block;
}

.member strong {
  padding-top: 2rem;
}

/* Clients */

.clients {
  margin-top: 5.25rem;
}

/* Footer */

footer {
  padding-top: 2.625rem;
  padding-bottom: 2rem;
  background-color: #e9ebeb;
  text-align: center;
}

.social-media {
  margin-bottom: 1.5rem;
}

.social-media i {
  padding-right: 3rem;
}

.social-media i:last-child {
  padding-right: 0;
}

.copyright {
  font-size: .75rem;
  color: #212123;
}
