.why-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 768px) {
	.why-images {
		flex-direction: row;
		justify-content: space-around;
	}
}